<!doctype html>
<html itemscope itemtype="http://schema.org/Article">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{title}} | {{seriesTitle}} | Just Matt</title>

    <meta name="description" content="{{preview}}" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{title}} | {{seriesTitle}}">
    <meta itemprop="description" content="{{ preview }}">
    {{#if image}}
    <meta itemprop="image" content="/images/{{image}}-2000.jpg">
    {{/if}}

    <meta property="og:title" content="{{title}} | {{seriesTitle}}" />
    <meta property="og:description" content="{{ preview }}" />
    <meta property="og:type" content="article" />
    <meta property="og:author" content="{{ author }}" />
    <meta property="og:published_time" content="{{ date }}" />
    <meta property="og:url" content="{{domain}}/{{path}}" />
    {{#if image}}
    <meta property="og:image" content="/images/{{image}}-2000.jpg" />
    {{/if}}
    <meta property="og:site_name" content="{{site.title}}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}} | {{seriesTitle}}" />
    <meta name="twitter:description" content="{{ description }}" />
    {{#if image}}
    <meta name="twitter:image" content="/images/{{image}}-2000.jpg" />
    {{/if}}

    <link rel="stylesheet" href="/css/tufte-css/tufte.min.css" />
    <link rel="stylesheet" href="/css/series-part.css" />
</head>

<body>
    <main>
        <article>
            <h1 class="title">{{ title }}</h1>
            <p class="subtitle">{{ author }}</p>
            <h4 class="subtitle">{{publishDate}}, {{wordCount}} words---{{readingTime}} read</h4>
            <section>
                
                {{{ contents }}}
            </section>
        </article>
    </main>

    <script src="/js/lazyload.js"></script>
</body>

</html>